.parent {
  height: 100%;
  width: 100%;
  display: flex;
}

.left {
  color: white;
  height: 100%;
  width: 20%;
}

.main {
  height: 100%;
  width: 80%;
}

.cover {
  padding: 0 150px;
}

@media (max-width: 1480px) {
  .cover {
    padding: 0 100px;
  }
}

@media (max-width: 1280px) {
  .cover {
    padding: 0 50px;
  }
}

@media (max-width: 1000px) {
  .cover {
    padding: 0 20px;
  }
}

@media (max-width: 768px) {
  .left {
    display: none;
  }

  .main {
    width: 100%;
  }

  .cover {
    padding: 0;
  }
}
